<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829328556487-erdqs6l9ekb4257fjc12dmvhlq6uvdoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829328556487-erdqs6l9ekb4257fjc12dmvhlq6uvdoa</string>
	<key>API_KEY</key>
	<string>AIzaSyB4ajPhakDN5XHbbKI8nMUcGiLJYs2TyL0</string>
	<key>GCM_SENDER_ID</key>
	<string>829328556487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sensoria.sensoria</string>
	<key>PROJECT_ID</key>
	<string>sensoria-47f37</string>
	<key>STORAGE_BUCKET</key>
	<string>sensoria-47f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829328556487:ios:4dafd8593cc6a584d4d9e2</string>
</dict>
</plist>